body{
	background-color: gray;
}
.container{
	height: 900px;
	width: 900px;
	background-color: darkgreen;
	margin: 0 auto;
	border: 10px solid black;
	border-radius: 10px;

}

.flag-row{
	width: 900px;
	height: 20px;
	margin: 10px auto;
}

.flag{
	display: inline-block;
	width: 20px;
	margin-right: 10px;
	background-color: red;
	height: inherit;
}

.row{
	box-sizing: border-box;
	height: 100px;
}

.square{
	box-sizing: inherit;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-weight: bold;
	display: inline-block;
	border-radius: 10px;
	background-color:  mintcream;
	border: 3px solid darkgreen;
	vertical-align: top;
}


.selected{
	background-color: red;
}

.empty{
	background-color: darkgreen;
}

.flagged{
	background-color: black;
}